@font-face {
  font-family: "RickandMorty"; 
  src: url("../fonts/get_schwifty.ttf") format("truetype"); 
}
@font-face {
  font-family: "RickandMorty2"; 
  src: url("../fonts/WubbaLubbaDubDub.ttf") format("truetype"); 
}

.font-style1 {
  font-family: "RickandMorty", sans-serif; 
  color: black;
  text-shadow: -1px -1px 0 #04bb8b, 1px -1px 0 #04bb8b, -1px 1px 0 #04bb8b,
    1px 1px 0 #04bb8b;
}

.font-style2 {
  font-family: "RickandMorty2", sans-serif; 
  color: black;
  text-shadow: -1px -1px 0 #04bb8b, 1px -1px 0 #04bb8b, -1px 1px 0 #04bb8b,
    1px 1px 0 #04bb8b;
}

body {
  background-image: url(../../public/images/rickmorty/rickandmorty.jpg);
}

.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}